<!-- Header -->
<!-- Navbar (sit on top) -->
<nav class="nav-top">
    <!-- <div class="nav-bar"> -->
        <div class="nav-left">
        <a href="#home" class="ps-button">Sistema Unificado de Clubes</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        </div>
        <div class="nav-right">
            <p>Bienvenido <%- user.name %></p>
            <div>
            <a href="/profile" class="nav-bar-item nav-button">Perfil</a>
            <a href="#about" class="nav-bar-item nav-button">Ayuda</a>
            <!-- rutas auth -->
            <% if (user) { %>
                <a href="/logout" class="nav-bar-item nav-button">Logout</a>
                <% } else { %>
                    <a href="/login" class="nav-bar-item nav-button">Login</a>
                    <!-- <a href="/register" class="ps-bar-item ps-button">Register</a> -->
                    <% } %>
            </div>        
        </div>
</nav>