<head>
    <title>Sistema Unificado de Clubes</title>
    <link rel="stylesheet" href="/css/style2.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>